#!/usr/bin/env bash

export CLIENT_ID="";
export CLIENT_SECRET="";
export ACCESS_TOKEN="";
export REFRESH_TOKEN="";
export VIEW_ID="";

export CODECLIMATE_REPO_TOKEN="";

./vendor/bin/phpcs --standard=psr2 -n --ignore=vendor --extensions=php .
./vendor/bin/phpunit --verbose --debug
